body {
    font-family: $primary-font;
    font-size: $general-font-size;
    /*background: linear-gradient(to bottom, $primary-color, $secondary-color);*/
}
h1 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
}
h2 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
}
h3 {
    font-family: $primary-font;
    font-weight: 700;
    margin: 0;
}
h4 {
    font-family: $primary-font;
    font-weight: 500;
}
h5 {
    font-family: $primary-font;
    font-weight: 500;
}
h6 {
    font-family: $primary-font;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: $text-color;
}
input {
    border: 0;
    background-color: transparent;
    text-align: center;
    display: inline-block;
}
i {
    font-style: normal;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
:focus-visible {
    outline: none;
}
.loader {
    @include center-content;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-background;
    z-index: 99;
    animation: loading 3.5s both;
    &__spinner {
        @include center-content;
        position: relative;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        background : linear-gradient(to top, $primary-color, $secondary-color);
        animation: fade-in 1s 0.5s both, spin 1.2s cubic-bezier(0.2,0.5,0.9,0.5) infinite ;
        &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 20px solid;
            border-color: transparent transparent transparent $main-background;
        }
        &::after {
            content: "";
            position: absolute;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: $main-background;
        }
    }
}
