body {
    font-family: $primary-font;
    font-size: $general-font-size;
}
h1 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
}
h2 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
}
h3 {
    font-family: $primary-font;
    font-weight: 700;
}
h4 {
    font-family: $primary-font;
    font-weight: 500;
}
h5 {
    font-family: $primary-font;
    font-weight: 500;
}
h6 {
    font-family: $primary-font;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: $text-color;
}
input {
    border: 0;
    background-color: transparent;
    text-align: center;
    display: inline-block;
}
i {
    font-style: normal;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
:focus-visible {
    outline: none;
}