@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin section-padding {
    padding: $section-padding-vertical $section-padding-horizontal;
}
@mixin shadow {
    box-shadow: 1px 5px 8px #00000025;
}
@mixin delay-appearing($number: 1, $duration: 1, $speed: 1) {
    @for $i from 1 to $number + 1 {
        &>*:nth-child(#{$i}) {
            animation: fade-in #{$duration}s #{($i - 1) * calc($duration / $speed)}s ease-in-out both;
        }
    }
}