@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin set-absolute-on-full-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

@mixin section-padding {
    padding: $section-padding-vertical $section-padding-horizontal;
}
@mixin shadow($fade-in: 0) {
    box-shadow: $btn-shadow-params fade-in($btn-shadow-color, $fade-in);
}
@mixin delay-appearing($number: 1, $duration: 1, $speed: 1) {
    @for $i from 1 to $number + 1 {
        &>*:nth-child(#{$i}) {
            animation: fade-in #{$duration}s #{($i - 1) * calc($duration / $speed)}s ease-in-out both;
        }
    }
}