@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$text-color: #000000;

$main-background: #ffffff;
$secondary-background: #f7f7f7;

$secondary-font: 'Shrikhand', cursive;
$primary-font: 'Roboto', sans-serif;
$general-font-size: 16px;

$header-height: 63px;
$logo-height: 28px;

$section-padding-horizontal: 20px;
$section-padding-vertical: 50px;

$btn-height: 50px;
$card-img-height: 175px;

$favorite-icon: "\f004";
/* btn */
$btn-shadow-color: #00000025;
$btn-shadow-params: 1px 5px 8px;
/*  btn menu */
$btn-menu-check-width: 60px;
$btn-menu-price-width: 70px;
$btn-menu-shadow: 0px 5px 10px 3px rgb(0 0 0 / 10%);
$menu-blocs-gap: 38px;
