.card{
    border-radius: 20px;
    overflow: hidden;
    @include shadow;
    position: relative;
    &:nth-child(n+2) {
        margin-top: 20px;
    }
    &__img{
        height: $card-img-height;
        width: 100%;
        object-fit: cover;
    }
    &__new {
        position: absolute;
        right: 10px;
        top: calc($card-img-height * 8 /100);
        background-color: $tertiary-color;
        color: saturate(darken($tertiary-color, 48), 44);
        padding: 0.5em 0.875em;
        font-weight: 500;
        font-size: 0.8125em;
        border-radius: 3px;
        @include shadow;
        &--disabled {
            display: none;
        }
    }
    &__bottom-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 18px 25px 18px 16px;    
    }
    &__text {
        p {
            margin: 0;
        }
        h3 {
            margin: 0 0 0.4em;
        }
    }
    .favorite {
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
        padding: 1em 25px 1.5em;
    }
}