.first-section {
    background-color: $secondary-background;
    
    >div {
        @include center-content;
        &:first-child{
            background-color: calc-color($secondary-background, 5);
            height: 50px;
            color: calc-color($secondary-background, 76);
        }
    }
    &__input{
        margin-left: 1em;
        font-weight: 700;
        &:focus-visible {
            font-size: calc($general-font-size + 2px) ;
        }
    }
    &__title-container {
        text-align: center;
        flex-direction: column;
        padding: calc($section-padding-vertical - 10px) calc($section-padding-horizontal + 15px) calc($section-padding-vertical + 5px);
        
    }
    &.home h1 {
        margin: 0 25px;
    }
    p {
        font-size: 1.0625em;
        font-weight: 300;
        margin-bottom: 2em;
    }
}
.second-section {
    padding: $section-padding-vertical $section-padding-horizontal calc($section-padding-vertical + 1.125em);
    h2 {
        margin-bottom: 1.125em;;
    }
}
.third-section { 
    padding: $section-padding-vertical $section-padding-horizontal calc($section-padding-vertical + 0.8em);
    background-color: $secondary-background;
    h2 {
        margin-bottom: 1.125em;
    }
    &__card-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: -#{$card-gap} 0 0 -#{$card-gap};
        width: calc(100% + $card-gap); 
        @media (min-width: $tablet-breakpoint ) {
            flex-direction: row;      
        }
    }
    
}
