.menu {
    background-color: $secondary-background;
    border-radius: 50px;
    margin-top: 220px;
    position: relative;
    padding: 2em 1em $menu-blocs-gap;
    .btn {
        margin-top: $menu-blocs-gap;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        padding-right: 1.5em;
        h1 {
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 1.375em
        }
    }
    &__main-image {
        position: absolute;
        z-index:-1;
        top: -220px;
        left: 0;
        height: 270px;
        width: 100%;
        object-fit: cover;
    }
}
.menu-part {
    @include delay-appearing(3, 1, 2.5);
    margin-top: $menu-blocs-gap;
    &__title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.875em;
        position: relative;
        display: inline-block;
        padding-bottom: 0.5em;
        &::before {
            content: "";
            position: absolute;
            width: 60%;
            height: 3px;
            bottom: 0;
            background-color: $tertiary-color;
        }
    }
    .btn-menu {
        margin-top: 0.75em;
        

    }
}